{%- comment -%}
  This block registers tyles and scripts for a floating Add To Cart bar on the product page.

  ## Inner workings
  By default, the block will be hidden. It will only be shown when the user scrolls past the initial product description.
  The block will be shown at the bottom of the screen and will follow the user as they scroll down the page.
{%- endcomment -%}

{%- comment -%} Variable declarations {%- endcomment -%}
{%- liquid
  assign settings = block.settings

  assign background_color = settings.background_color
  assign add_shadow = settings.add_shadow
  assign button_placement = settings.button_placement
  assign usps = settings.usps
-%}

{%- comment -%} Logic {%- endcomment -%}
{%- liquid
  # LOGIC: Default center button placement
  unless button_placement
    assign button_placement = 'center'
  endunless
-%}

{%- comment -%} Styles {%- endcomment -%}
<style id="hc_floating_add-to-cart_styles">
  .hc-floating-atc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    z-index: 1000;
    transform: translateY(200%);
    transition: transform 0.3s ease-out;
    gap: 1rem;
    background-color: {{ background_color | color_to_hsl }};
    {% unless add_shadow == "no" %}
      box-shadow: 0 -4px 25px rgb(0 0 0 / .25);
    {% endunless %}
  }

  .hc-floating-atc:not([hidden="hidden"]) {
    transform: translateY(0);
    transition: transform 0.3s ease-in;
  }

  .hc-floating-atc [data-target='add-to-cart'] {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-grow: 1;
  }

  .hc-floating-atc .add-to-cart__content {
      display: none;
  }

  .hc-floating-atc .add-to-cart__content img {
      grid-row: 1/3;
  }

  .hc-floating-atc .add-to-cart__usps {
      list-style-type: none;
      display: flex;
      column-gap: 1rem;
      padding-left: 0;
      margin-left: 0;
      overflow: scroll;
      flex-wrap: wrap;
      margin-bottom: 0;
      scrollbar-width: none;
  }

  .hc-floating-atc .add-to-cart__usps li {
      white-space: nowrap;
  }

  .hc-floating-atc .add-to-cart__price {
      display: none;
  }

  .hc-floating-atc .button {
      flex: 1;
  }

  @media (min-width: 768px) {
      .hc-floating-atc .add-to-cart__content {
          display: grid;
          grid-template-columns: 75px auto;
          gap: 0.5rem;
          align-items: center;
      }

      .hc-floating-atc [data-target='add-to-cart'] {
          flex: 0 0 auto;
      }

      .hc-floating-atc .add-to-cart__price {
          display: block;
      }
  }
</style>

{% unless product == blank %}
{%- comment -%} Markup {%- endcomment -%}
<template data-template='floating-atc-content'>
  <div class="add-to-cart__content">
      {{ product | image_url: width: 150 | image_tag }}

      <strong class="add-to-cart__title">{{ product.title }}</strong>
      <ul class="add-to-cart__usps">
          {% assign usps_list = usps | newline_to_br | split: '<br />' %}

          {% for usp in usps_list %}
              <li>{{ usp }}</li>
          {% endfor %}
      </ul>
  </div>

  <div data-target='add-to-cart'>
      <bdi class="add-to-cart__price">{{ product.price | money_without_currency }}</bdi>
  </div>
</template>
{% endunless %}

{%- comment -%} Scripts {%- endcomment -%}
<script id="hc_floating_add-to-cart_scripts" src="{{ '0-floating-atc.js' | asset_url }}" async></script>

{% schema %}
{
  "name": "t:Blocks.FloatingATC.Name",
  "target": "body",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "t:Blocks.FloatingATC.Settings.Bar.BackgroundColor.Label",
      "default": "#ffffff",
      "info": "t:Blocks.FloatingATC.Settings.Bar.BackgroundColor.Info"
    },
    {
      "type": "select",
      "id": "add_shadow",
      "label": "t:Blocks.FloatingATC.Settings.Bar.AddShadow.Label",
      "options": [
        {
          "value": "yes",
          "label": "t:Syntax.Yes"
        },
        {
          "value": "no",
          "label": "t:Syntax.No"
        }
      ],
      "default": "yes",
      "info": "t:Blocks.FloatingATC.Settings.Bar.AddShadow.Info"
    },
    {
        "type": "textarea",
        "id": "usps",
        "label": "t:Blocks.FloatingATC.Settings.Content.Usps.Label",
        "info": "t:Blocks.FloatingATC.Settings.Content.Usps.Info"
    }
  ]
}
{% endschema %}
